/* Global Styles */
body {
  margin: 0;
  padding: 20px;
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
  color: #333;
  position: relative;
  overflow: hidden;
}

/* Background Title */
.background-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  font-weight: bold;
  color: rgba(200, 200, 200, 0.2);
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

/* App Container */
.app-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  position: relative;
  z-index: 1;
}

@media (min-width: 600px) {
  .app-container {
    grid-template-columns: 200px 1fr;
  }
}

/* Notes Grid */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-left: 10px;
}

/* Notes Items */
.notes-items {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.notes-items:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Notes Header */
.notes-header {
  display: flex;
  justify-content: flex-end;
}

.notes-header button {
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #f08080;
  transition: color 0.3s ease;
}

.notes-header button:hover {
  color: #ff6347;
}

/* Titles */
h2 {
  margin: 0;
  font-weight: bold;
  color: #333;
}

/* Notes Form */
.notes-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px; /* Ajout de marge inférieure */
}

textarea, input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background-color: #fafafa;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea:focus, input:focus {
  border-color: #87cefa;
  outline: none;
  box-shadow: 0 0 5px rgba(135, 206, 250, 0.5);
}

.notes-form button {
  border-radius: 5px;
  background-color: #87cefa;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notes-form button:hover {
  background-color: #4682b4;
  cursor: pointer;
  transform: scale(1.05);
}

/* Edit Buttons */
.edit-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-buttons button {
  flex: 1;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.edit-buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.edit-buttons button:last-of-type {
  background-color: #ff6347;
  color: white;
}

.edit-buttons button:last-of-type:hover {
  background-color: #ff4500;
}